.chat
  .chat-side
    .chat__user
      %p.chat__user--current
        = current_user.name
      %a.chat-user__action(href="/users/edit")
        %i.fa.fa-cog.icon-cog
      %a.chat-user__action(href="/groups/new")
        %i.fa.fa-edit.icon-edit
    .chat__group-name
      - current_user.groups.each do |group|
        = render partial: "common/groups", locals: { group: group }
  .chat-main
    .chat-header
      .chat-header--left
        = @group.name
        .group-members
          - @group.users.each do |user|
            = user.name
      .chat-header--right
        = link_to edit_group_path(@group), class: "chat-header--right-link" do
          .chat-header__edit-btn Edit
    .chat__message--written
      / = render partial: 'message', locals: { group: @group }
    .chat__message--write
      = form_for [@group, @message], class: "message-form" do |f|
        .message-body
          / = f.text_field :body, placeholder: "type a message", class: "message-type"
          %label.chat-footer__file
            = f.file_field :image
            %i.fa.fa-photo.icon-photo
        = f.submit "Send", class: "send-button"
